# SPDX-FileCopyrightText: 2024 Shripad SK
#
# SPDX-License-Identifier: CC-BY-4.0

# Zero to Mastery Course Materials (Proprietary)
# Get these free cheatsheets at: https://github.com/zero-to-mastery/resources/blob/master/cheatSheets.md
CheatSheets/Javascript_Cheatsheet_Zero_To_Mastery_V11.pdf
CheatSheets/Node_JS_Cheatsheet_Zero_To_Mastery_V1.01.pdf
CheatSheets/Python_Cheatsheet_Zero_To_Mastery_V1.05 (1).pdf
CheatSheets/React_Cheatsheet_Zero_To_Mastery_V1.02.pdf
CheatSheets/SQL_Cheatsheet_Zero_To_Mastery_V1.01.pdf
CheatSheets/JavaScript Cheat Sheet & Quick Reference.pdf


system-design.pdf